* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-de-fondo: #FBF5DD;
    --color-de-fondo2: #EAF2FD;
    --color-de-fondo-menu: #DDA853;
    --color-de-link: black;
    --color-de-texto: black;
    --color-de-tarjetas: orange;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    width: 100%;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

h1 {
    color: var(--color-de-link);
}

h2 {
    color: var(--color-de-texto);
}

/* Para celulares */

/* ------------------------------ Sección Menú -------------------------------*/

.cabecera {
    padding: 1rem;
    display: flex;
    background-color: var(--color-de-fondo-menu);
    align-items: center;
    justify-content: space-between;
}

.cabecera__items {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    order: 1;
}

.cabecera__logo {
    min-height: 1.5rem;
}

.cabecera__titulo {
    font-size: 1rem;
}

.navegacion{
    font-size: 0.9rem;
    order: 2;
}

.navegacion__elemento {
    display: none;
}

.navegacion__elemento{
    display: none;
}

.navegacion__elemento a:hover {
    color: #a52019;
}

.contacto-destacado {
    display: block;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.presentacion__contenedor {
    order: 2; 
}

.presentacion__foto {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    order: 1;
    align-items: center;
}

.presentacion__titulo {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.presentacion__subtitulo {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.presentacion .redes {
    display: inline-flex;
    flex-direction: row;
    font-size: 0.9rem;
    gap: 0.5rem;
}

.presentacion .redes a:hover {
    color: #a52019;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    background-color: var(--color-de-fondo2);
    padding: 1rem;
}

.sobre-mi__firma {
    display: block;
}

.sobre-mi__texto {
    font-size: 0.9rem;
    margin: 1rem 0;
}


/*------------------------------ Sección de Habilidades ------------------------------*/


.habilidades {
    background-color: var(--color-de-fondo);
    padding: 1rem;
}

.habilidades__titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.habilidades__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem ;
    
}

.habilidades__elemento {
    background-color: var(--color-de-tarjetas);
    width:7.5rem;          /*O ponerlo Fijo con 7.5rem o 37%*/
    min-height: 5.3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 0.6rem;
    padding: 1rem;
}

.habilidades__icono {
    min-height: 2.rem;
}



/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones {
    background-color: var(--color-de-fondo);
    padding: 1rem;
}

.aficiones__titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.aficiones__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem ;
}

.aficiones__elemento {
    background-color: var(--color-de-tarjetas);
    width: 7.5rem;
    min-height: 5.3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 0.6rem;
    padding: 1rem;
}

.aficiones__nombre {
    text-align: center;
}

.aficiones__icono {
    max-height: 2rem;
}


/* ------------------------------ Sección Formación Academica ------------------------------*/
.formacion {
    background-color: var(--color-de-fondo2);
    padding: 2rem;
}

.formacion__titulo {
    text-align: center;
    margin-bottom: 2rem;
}

.formacion__lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.formación__container__icono {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea verticalmente */
    padding: 2rem;
    margin-bottom: 1rem;
}

.formacion__elemento {
    width: 18.5rem;
    flex-grow: 1;
}

.formacion__icono {
    width: 50%;
}


/*------------------------------ Sección de Proyectos --------------------------------*/

.proyectos {
    background-color: var(--color-de-fondo);
    padding: 2rem;
}

.proyectos__titulo {
    margin-bottom: 1rem;
    text-align: center;
}

.proyectos__lista {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.proyectos__img {
    width: 100%;
}

.proyectos__detalles{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

.proyectos__contenedor__boton {
    display: flex;
    gap: 1rem ;
}

.proyectos__boton {
    border: 1px solid #2A7AE4;
    width: 6rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
}

.proyectos__boton--repositorio {
    color: #2A7AE4;
}

.proyectos__boton--demo {
    background-color: #2A7AE4;
    color: white;
}



/*------------------------------ Sección de Contacto ---------------------------------*/


.contacto {
    background-color: var(--color-de-fondo2);
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.contacto__img {
    display: none;
}

.contacto__detalles {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contacto__section__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
}

.contacto__campo {
    margin-bottom: 2rem;
    min-height: 3.5rem;
    font-size: 1rem;
    position: relative;
    padding: 1rem;
}

.contacto__campo--textarea {
    min-height: 8.3rem;
}

.contacto__boton {
    align-self: flex-start;
    border: 1px solid #2A7AE4;
    width: 6rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.85rem;
    background-color: #2A7AE4;
    color: white;
}

.footer {
    text-align: center;
    padding: 2rem 4rem;
}





/* Tablets y pantallas pequeñas */

@media (min-width: 768px) {
    
    /* ------------------------------ Sección Menú -------------------------------*/

    .cabecera {
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        
    }
    
    .navegacion__elemento {
        font-size: 1rem;
    }
    
    /* ------------------------------ Sección Presentación ------------------------------*/
    
    .presentacion {
        padding: 2rem;
        flex-direction: row;
        align-items: normal;
        justify-content: normal; 
        text-align: left; 
        align-items: center;
        gap:2rem;
    }
    
    .presentacion__contenedor {
        width: 23rem;
        order: 1;
        flex-grow: 3;
    }
    
    .presentacion__titulo {
        font-size: 1.4rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1rem;
    }
    
    .presentacion__foto {
        width: 9rem;
        height: 9rem;
        order: 2;
    }
    
    .presentacion .redes {
        display: flex;
        gap: 2rem;
    }

    /* ------------------------------ Sección sobre mí ----------------------------------*/
    
    .sobre-mi {
        padding: 2rem;
    }

    .sobre-mi__texto {
        width: 100%;
    }

    /*------------------------------ Sección de Habilidades ------------------------------*/

    .habilidades {
        padding: 2rem; 
    }

    .habilidades__elemento {
        width: 12rem;       /* 12rem o 27%*/
        min-height: 5.3rem;
    }


    /*------------------------------ Sección de Aficiones --------------------------------*/

    .aficiones {
        padding: 2rem;
    }

    .aficiones__elemento {
        width: 12rem;
        min-height: 5.3rem;
    }

    
    /* ------------------------------ Sección Formación Academica ------------------------------*/

    .formacion__elemento {
        width: 14rem;
    }

    /*------------------------------ Sección de Proyectos --------------------------------*/

    .contacto {
        justify-content: center;
    }

}





/* Pantallas grandes */

@media (min-width: 1024px) {

    /* ------------------------------ Sección Menú -------------------------------*/

    .cabecera {
        padding: 0 7.5rem;
        min-height: 5.5rem;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navegacion__lista {
        display: flex;
        gap: 2rem;
    }
    
    .navegacion__elemento {
        font-size: 1rem;
        display: block;
    }
    
    /* ------------------------------ Sección Presentación ------------------------------*/
    
    .presentacion {
        padding: 2rem 7.5rem;
        flex-direction: row;
        align-items: normal;
        justify-content: normal; 
        text-align: left; 
        align-items: center;
        gap: auto;
    }

    .presentacion__contenedor {
        min-height: 15rem;
    }
    
    .presentacion__titulo {
        font-size: 3.2rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1.4rem;
    }
    
    .presentacion__foto {
        width: 23rem;
        height: 23rem;
    }
    
    .presentacion .redes {
        display: flex;
        gap: 2rem;
    }


    /* ------------------------------ Sección sobre mí ----------------------------------*/

    .sobre-mi {
        padding: 4rem 7.5rem ;
    }

    .sobre-mi__texto {
        width: 60%;
    }

    /*------------------------------ Sección de Habilidades ------------------------------*/
    
    .habilidades {
        padding: 1rem 7.5rem 5.5rem;
    }

    .habilidades__titulo {
        font-size: 2rem;
    }

    .habilidades__elemento {
        width: 5rem;
        min-height: 5rem;
    }

    /*------------------------------ Sección de Aficiones --------------------------------*/

    .aficiones {
        padding: 1rem 7.5rem 5.5rem;
    }

    .aficiones__titulo {
        font-size: 2rem;
    }

    .aficiones__elemento {
        width: 5rem;
        min-height: 5rem;
    }

    /* ------------------------------ Sección Formación Academica ------------------------------*/

    .formacion {
        padding: 5.1rem 7.5rem;
    }

    /*------------------------------ Sección de Proyectos --------------------------------*/

    .proyectos {
        padding: 2rem 7.5rem;
    }

    .proyectos__titulo {
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .proyectos__contenedor {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .proyectos__img {
        width: 60%;
    }

    /*------------------------------ Sección de Contacto ---------------------------------*/

    .contacto {
        padding: 7.5rem;
    }

    .contacto__img {
        display: block;
    }
    
}

   