* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-de-fondo: #FBF5DD;
    --color-de-fondo2: #EAF2FD;
    --color-de-fondo-menu: #DDA853;
    --color-de-link: black;
    --color-de-texto: black;
    --color-de-tarjetas: orange;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    width: 100%;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

h1 {
    color: var(--color-de-link);
}

h2 {
    color: var(--color-de-texto);
}

/* ------------------------------ Sección Menú -------------------------------*/

.cabecera {
    padding: 1rem;
    display: flex;
    background-color: var(--color-de-fondo-menu);
    align-items: center;
    justify-content: space-between;
}

.cabecera__items {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    order: 1;
}

.cabecera__logo {
    min-height: 1.5rem;
}

.cabecera__titulo {
    font-size: 1rem;
}

.navegacion{
    font-size: 0.9rem;
    order: 2;
}

.navegacion__elemento {
    display: none;
}

.contacto-destacado {
    display: block;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.presentacion__contenedor {
    order: 2; 
}

.presentacion__foto {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    order: 1;
    align-items: center;
}

.presentacion__titulo {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.presentacion__subtitulo {
    font-size: 0.9rem;
    margin: 1rem 0;
}

.presentacion .redes {
    display: inline-flex;
    flex-direction: row;
    font-size: 0.9rem;
    gap: 0.5rem;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    background-color: var(--color-de-fondo2);
    padding: 1rem;
}

.sobre-mi__firma {
    display: block;
}

.sobre-mi__texto {
    font-size: 0.9rem;
    margin: 1rem 0;
}


/*------------------------------ Sección de Habilidades ------------------------------*/


.habilidades {
    background-color: var(--color-de-fondo);
    padding: 1rem;
}

.habilidades__titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.habilidades__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem ;
    
}

.habilidades__elemento {
    background-color: var(--color-de-tarjetas);
    width:7.5rem;
    min-height: 5.3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 0.6rem;
    padding: 1rem;
}

.habilidades__icono {
    min-height: 2.rem;
}



/*------------------------------ Sección de Aficiones --------------------------------*/

.aficiones {
    background-color: var(--color-de-fondo2);
    padding: 1rem;
}

.aficiones__titulo {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.aficiones__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem ;
}

.aficiones__elemento {
    background-color: var(--color-de-tarjetas);
    width:7.5rem;
    min-height: 5.3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center ; /* Centrar contenido interno horizontalmente */
    align-items: center; /* Centrar contenido interno verticalmente */
    gap: 0.6rem;
    padding: 1rem;
}

.aficiones__icono {
    min-height: 2rem;
}


/* ------------------------------ Sección Formación Academica ------------------------------*/


/*------------------------------ Sección de Proyectos --------------------------------*/


/*------------------------------ Sección de Contacto ---------------------------------*/



@media (min-width: 768px) {
    
    /* ------------------------------ Sección Menú -------------------------------*/

    .cabecera {
        flex-direction: row;
        align-items: center;
        padding: 1rem 2rem;
        
    }
    
    .navegacion__elemento {
        font-size: 1rem;
    }
    
    /* ------------------------------ Sección Presentación ------------------------------*/
    
    .presentacion {
        padding: 2rem;
        flex-direction: row;
        align-items: normal;
        justify-content: normal; 
        text-align: left; 
        align-items: center;
        gap:2rem;
    }
    
    .presentacion__contenedor {
        width: 23rem;
        order: 1;
        flex-grow: 3;
    }
    
    .presentacion__titulo {
        font-size: 1.4rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1rem;
    }
    
    .presentacion__foto {
        width: 9rem;
        height: 9rem;
        order: 2;
    }
    
    .presentacion .redes {
        display: flex;
        gap: 2rem;
    }

    /* ------------------------------ Sección sobre mí ----------------------------------*/
    
    .sobre-mi {
        padding: 2rem;
    }

    .sobre-mi__texto {
        width: 100%;
    }

    /*------------------------------ Sección de Habilidades ------------------------------*/

    .habilidades {
        padding: 2rem;
    }

    .habilidades__elemento {
        width: 12rem;
        min-height: 5.3rem;
    }


    /*------------------------------ Sección de Aficiones --------------------------------*/

    .aficiones {
        padding: 2rem;
    }

    .aficiones__elemento {
        width: 12rem;
        min-height: 5.3rem;
    }

}




/* Para laptops y desktops pequeños (1024px o más) */

@media (min-width: 1024px) {

    /* ------------------------------ Sección Menú -------------------------------*/

    .cabecera {
        padding: 0 9.5rem;
        min-height: 5.5rem;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navegacion__lista {
        display: flex;
        gap: 2rem;
    }
    
    .navegacion__elemento {
        font-size: 1rem;
        display: block;
    }
    
    /* ------------------------------ Sección Presentación ------------------------------*/
    
    .presentacion {
        padding: 2rem 9.5rem;
        flex-direction: row;
        align-items: normal;
        justify-content: normal; 
        text-align: left; 
        align-items: center;
        gap: auto;
    }

    .presentacion__contenedor {
        min-height: 15rem;
    }
    
    .presentacion__titulo {
        font-size: 3.2rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1.4rem;
    }
    
    .presentacion__foto {
        width: 23rem;
        height: 23rem;
    }
    
    .presentacion .redes {
        display: flex;
        gap: 2rem;
    }


    /* ------------------------------ Sección sobre mí ----------------------------------*/

    .sobre-mi {
        padding: 4rem 9.5rem ;
    }

    .sobre-mi__texto {
        width: 60%;
    }

    /*------------------------------ Sección de Habilidades ------------------------------*/
    
    .habilidades {
        padding: 1rem 6rem 5.5rem;
    }

    .habilidades__titulo {
        font-size: 2rem;
    }

    .habilidades__elemento {
        width: 5rem;
        min-height: 5rem;
    }

    /*------------------------------ Sección de Aficiones --------------------------------*/

    .aficiones {
        padding: 1rem 6rem 5.5rem;
    }

    .aficiones__titulo {
        font-size: 2rem;
    }

    .aficiones__elemento {
        width: 5rem;
        min-height: 5rem;
    }

}

   