
:root {
    --color-de-fondo: #FBF5DD;
    --color-de-fondo-menu: #DDA853;
    --color-de-link: black;
    --color-de-texto: black;
}

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

h1 {
    color: var(--color-de-link);
}

h2 {
    color: var(--color-de-texto);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 9.5rem;
    background-color: var(--color-de-fondo-menu);
    justify-content: space-between;
}

.cabecera__items {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.cabecera__logo {
    min-height: 1.5rem;
}

.cabecera__titulo {
    font-size: 1rem;
}

.navegacion{
    align-content: flex-end;
}

.navegacion__lista {
    display: flex;
    gap: 2rem;
}

.navegacion__elemento {
    font-size: 1rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 9.5rem;
}

.presentacion__contenedor {
    width: 47rem;
}

.presentacion__titulo {
    font-size: 3.5rem;
}

.presentacion__subtitulo {
    font-size: 1.4rem;
}

.presentacion__foto {
    width: 368px;
    height: 368px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.presentacion .redes {
    display: flex;
    gap: 2rem;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/


/*------------------------------ Sección de Habilidades ------------------------------*/


/*------------------------------ Sección de Aficiones --------------------------------*/


/*------------------------------ Sección de Proyectos --------------------------------*/


/*------------------------------ Sección de Contacto ---------------------------------*/

